*{
    padding: 0;
    margin: 0;
}
.location{
    background-color: rgb(105, 229, 221);  
    text-align: center;
    overflow: auto;
}

.place{
 border: 1px solid red;
 max-width: 70%;
 float: left;
}
.name{
    font-size: 1.5rem;
    padding-bottom: 0;
}
.date{
    font-size: 1.1rem;
    padding:.01rem 1.5rem ;
}
.temp{
    border: 1px solid red;
    float: right;
}
.wcond{
    width: 75%;
    float: right;
    background-color: rgb(230, 91, 91);
}
.bel{
    font-size: .8rem;
    color: rgb(57, 68, 68);
    padding-left: 1.1rem;
}
.up{
    font-size: 1.2rem;
   
}
.up .info{
    padding-left: .8rem;
}